<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/user/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="confirm password">
                    </div>
                    <button class="btn btn-primary btn-block">Sing up</button>
                </form>
            </div>
        </div>
    </div>
</div>