<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Login
            </div>
            <div class="card-body">
                <form action="/user/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="password">
                    </div>
                    <button class="btn btn-primary btn-block">Sing ip</button>
                </form>
            </div>
        </div>
    </div>
</div>